In [96]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

label_kwargs = {'fontfamily': 'sans-serif',
                'fontsize': 15}

title_kwargs = {'fontfamily': 'sans-serif',
                'fontsize': 25,
                'fontweight': 'bold'}

tick_kwargs = {'rotation': 'vertical'}

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

    
pd.options.display.width=None

In [59]:
# let's just read in all of the data that we'll need
books = pd.read_csv("goodbooks-10k/books.csv")
ratings = pd.read_csv("goodbooks-10k/ratings.csv")


# may not use these at first.
book_tags = pd.read_csv("goodbooks-10k/book_tags.csv")
tags = pd.read_csv("goodbooks-10k/tags.csv")
to_read = pd.read_csv("goodbooks-10k/to_read.csv")

In [60]:
# just changing to standard feature names
ratings.rename(columns={'user_id': 'uid', 'book_id': 'iid'}, inplace=True)
books.rename(columns={'book_id': 'iid'}, inplace=True)

# starting user and book indices from 0
ratings.uid = ratings.uid - 1
ratings.iid = ratings.iid - 1
books.iid = books.iid - 1
to_read.book_id = to_read.book_id - 1

In [5]:
import lightfm as lf

In [44]:
IDMAP = books[['book_id', 'goodreads_book_id']].to_dict()
titleMAP = books[['book_id', 'title']].to_dict()

In [45]:
from scipy.sparse import coo_matrix as cm

numUsers = ratings.uid.max()+1
numBooks = ratings.iid.max()+1

ratSparse = cm((ratings.rating, (ratings.uid, ratings.iid)), shape = (numUsers, numBooks))

In [46]:
model = lf.LightFM(loss = 'warp')
model.fit(ratSparse, epochs = 20, num_threads = 10)

In [111]:
# let's fit on some users
import random
from tabulate import tabulate
from IPython.display import display, HTML

# let's get some users to predict on
random.seed(1001)

predUsers = random.choices(ratings.uid.unique().tolist(), k=3)
knownRatings = pd.merge(ratings.query('uid == @predUsers[0] or uid == @predUsers[1] or uid == @predUsers[2]'),
                        books[['iid', 'title', 'authors']], on='iid', how='left')

# now let's predict them on our trained model
itemList = np.array(ratings.iid.unique().tolist())
itemList.sort()

predUsers = random.choices(ratings.uid.unique().tolist(), k=3)

for user in predUsers:
    
    knownRatings = pd.merge(ratings.query('uid == @user'),
                        books[['iid', 'title', 'authors']], on='iid', how='left')
    
    score = model.predict(user, itemList)
    suggested = books.loc[np.argsort(-score)][['title', 'authors']]
    
    print(color.BOLD + 'User {} known items: '.format(user) + color.END, end = '\n')
    display(HTML(knownRatings[['title', 'authors', 'rating']]
                    .sort_values(by='rating', ascending=False).iloc[:10].to_html()))
    print(color.BOLD + 'Top 10 suggested items:' + color.END, end = '\n')
    display(HTML(suggested[:10].to_html()))

    
#     print(color.BOLD + 'User {} known items: '.format(user) + color.END,
#           tabulate((knownRatings.query('uid == @user')[['title', 'authors', 'rating']]
#                     .sort_values(by='rating', ascending=False).iloc[:10]), headers = 'firstrow'),
#           color.BOLD + 'Top 10 suggested items:' + color.END,
#           suggested[:10],
#           sep='\n',
#           end='\n'*2)

User 48112 known items:

Top 10 suggested items:

User 7100 known items:

Top 10 suggested items:

User 39620 known items:

Top 10 suggested items:

In [79]:
score.shape

(10000,)