In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# let's just read in all of the data that we'll need
books = pd.read_csv("goodbooks-10k/books.csv")
book_tags = pd.read_csv("goodbooks-10k/book_tags.csv")
ratings = pd.read_csv("goodbooks-10k/ratings.csv")
tags = pd.read_csv("goodbooks-10k/tags.csv")
to_read = pd.read_csv("goodbooks-10k/to_read.csv")

In [58]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [3]:
ratings.describe()

            user_id       book_id        rating
count  5.976479e+06  5.976479e+06  5.976479e+06
mean   2.622446e+04  2.006477e+03  3.919866e+00
std    1.541323e+04  2.468499e+03  9.910868e-01
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.281300e+04  1.980000e+02  3.000000e+00
50%    2.593800e+04  8.850000e+02  4.000000e+00
75%    3.950900e+04  2.973000e+03  5.000000e+00
max    5.342400e+04  1.000000e+04  5.000000e+00

In [8]:
# Let's start really simple
import surprise

data = surprise.Dataset.load_from_df(ratings,reader = surprise.Reader(rating_scale=(1,5)))
alg = surprise.SVD(verbose=True)
output = alg.fit(data.build_full_trainset())

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19

In [19]:
read_user1 = ratings[ratings['user_id']==1]['book_id']
iid = ratings['book_id'].unique()
unread_user1 =np.setdiff1d(iid,read_user1)

In [21]:
temp = [[1,val,1] for val in unread_user1]
predictions = alg.test(temp)
predictions[:10]

[Prediction(uid=1, iid=1, r_ui=1, est=3.7144030096561034, details={'was_impossible': False}),
 Prediction(uid=1, iid=2, r_ui=1, est=4.02033120427403, details={'was_impossible': False}),
 Prediction(uid=1, iid=3, r_ui=1, est=3.172936306298741, details={'was_impossible': False}),
 Prediction(uid=1, iid=5, r_ui=1, est=3.825004051611181, details={'was_impossible': False}),
 Prediction(uid=1, iid=6, r_ui=1, est=3.551271526364117, details={'was_impossible': False}),
 Prediction(uid=1, iid=7, r_ui=1, est=3.7243794771579912, details={'was_impossible': False}),
 Prediction(uid=1, iid=8, r_ui=1, est=3.501245630487727, details={'was_impossible': False}),
 Prediction(uid=1, iid=9, r_ui=1, est=3.265605547730253, details={'was_impossible': False}),
 Prediction(uid=1, iid=12, r_ui=1, est=3.490511245386834, details={'was_impossible': False}),
 Prediction(uid=1, iid=14, r_ui=1, est=4.05069648094128, details={'was_impossible': False})]

In [60]:
pred_ratings = pd.DataFrame(np.array([ [int(pred.iid),pred.est] for pred in predictions]),columns = ['book_id', 'predicted rating'])
pred_ratings.head()

   book_id  predicted rating
0      1.0          3.714403
1      2.0          4.020331
2      3.0          3.172936
3      5.0          3.825004
4      6.0          3.551272

In [61]:
pred_ratings = pred_ratings.merge(books[['book_id','goodreads_book_id','title','authors']], on = 'book_id')

,book_id,predicted rating,goodreads_book_id,title,authors
1695,1793.0,1.651373,105578,One Night at the Call Center,Chetan Bhagat
5590,5706.0,1.880002,18363068,حبيبتي بكماء,محمد السالم
7518,7636.0,1.914636,7011879,Of Course I Love You...! Till I Find Someone B...,"Durjoy Datta, Maanvi Ahuja"
4172,4283.0,2.096751,16130307,Revenge Wears Prada: The Devil Returns (The De...,Lauren Weisberger
4877,4991.0,2.191006,13041934,Can Love Happen Twice?,Ravinder Singh
3934,4045.0,2.197636,22874559,Half Girlfriend,Chetan Bhagat
4171,4282.0,2.228541,4601396,Pygmy,Chuck Palahniuk
1314,1409.0,2.240280,3320520,The 3 Mistakes of My Life,Chetan Bhagat
1731,1830.0,2.254869,6134826,"Blue Moon (The Immortals, #2)",Alyson Noel
1723,1822.0,2.286649,12615008,"Revolution 2020: Love, Corruption, Ambition",Chetan Bhagat

In [62]:
pred_ratings.sort_values('predicted rating',ascending = False).head(10)

,book_id,predicted rating,goodreads_book_id,title,authors
8828,8946.0,4.684055,46292,The Divan,Hafez
3519,3628.0,4.562355,24812,The Complete Calvin and Hobbes,Bill Watterson
9448,9566.0,4.554158,70487,Attack of the Deranged Mutant Killer Monster S...,Bill Watterson
9724,9842.0,4.517240,24019187,Humans of New York: Stories,Brandon Stanton
6473,6590.0,4.496945,59715,The Authoritative Calvin and Hobbes: A Calvin ...,Bill Watterson
8430,8548.0,4.489373,13531024,This is Not My Hat,Jon Klassen
7146,7264.0,4.479952,86525,Master of the Senate (The Years of Lyndon John...,Robert A. Caro
2141,2244.0,4.469953,17131869,"Saga, Vol. 2 (Saga, #2)","Brian K. Vaughan, Fiona Staples"
6525,6642.0,4.465722,13490570,"Locke & Key, Vol. 5: Clockworks","Joe Hill, Gabriel Rodríguez"
2661,2767.0,4.454886,19358975,"Saga, Vol. 3 (Saga, #3)","Brian K. Vaughan, Fiona Staples"

## Being Better

Great! We succesfully built a recommender. However, we've been pretty bad data scientists so far. We haven't evaluated different models, tuned hyperparameters, or split up our data into train/test sets. Let's do this now!

In [4]:
# I will build a pure collaborative recommender first then compare it agains a hybrid model. First, let's get
# a set of training and testing data. (Should we do more than one for cross validation?)

from surprise import Dataset, Reader, SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering
from surprise.model_selection import cross_validate, GridSearchCV

In [6]:
data = Dataset.load_from_df(ratings,reader = Reader(rating_scale=(1,5)))

In [15]:
algorithm = SVD()

cross_validate(algorithm, data, measures = ['RMSE','MAE'], cv = 5, verbose = True, n_jobs = -3)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8311  0.8299  0.8301  0.8302  0.8300  0.8303  0.0004
MAE (testset)     0.6413  0.6410  0.6407  0.6410  0.6408  0.6409  0.0002
Fit time          160.23  158.49  163.63  159.78  161.14  160.65  1.71
Test time         13.09   13.64   13.77   13.68   13.09   13.45   0.30

{'test_rmse': array([0.83105239, 0.82991082, 0.83008775, 0.83021145, 0.83002173]),
 'test_mae': array([0.64131644, 0.64095053, 0.64065936, 0.64095351, 0.64079814]),
 'fit_time': (160.22657322883606,
  158.4946985244751,
  163.62677383422852,
  159.7800898551941,
  161.13809657096863),
 'test_time': (13.091276407241821,
  13.642457962036133,
  13.770890712738037,
  13.683136701583862,
  13.0865797996521)}

In [17]:
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

0.8669724032141334
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

In [15]:
benchmark = []
# Iterate over all algorithms... , SVDpp(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()
for algorithm in [# SVD(), 
                  # SlopeOne(), 
                  # NMF(), 
                  # NormalPredictor(), 
                  # KNNBaseline(), 
                  KNNBasic(), 
                  KNNWithMeans(), 
                  KNNWithZScore(), 
                  BaselineOnly(), 
                  CoClustering()]:
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False,n_jobs = 6)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker.

The exit codes of the workers are {SIGKILL(-9)}

In [9]:
import multiprocessing

multiprocessing.cpu_count()

24

In [17]:
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

                 test_rmse    fit_time   test_time
Algorithm
SVD               0.841489  128.960309   18.459501
SlopeOne          0.848180   31.104379  138.706618
NMF               0.866951  133.655127   15.740542
NormalPredictor   1.323364    3.649620   16.195431