In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from scipy.sparse import coo_matrix as cm
import lightfm as lf
import numpy as np

In [29]:
db_un = os.environ.get("DB_USER")
db_pw = os.environ.get("DB_PASS")

dbString = 'postgresql://'+db_un+':'+db_pw+'@localhost/bookapp'
db = create_engine(dbString)

dbConnect = db.connect()

archived_ratings = pd.read_sql("select * from \"archive_rating\"", dbConnect)
user_ratings = pd.read_sql("select * from \"user_rating\"", dbConnect)

In [30]:
# I want to filter out user's with only a few ratings
grouped_users = user_ratings.groupby('site_id').count()

for idx, group in grouped_users.iterrows():
    if group.rating < 6:
        user_ratings = user_ratings[user_ratings['site_id'] != idx]
        
user_ratings

    book_id  site_id  rating
0         2        1       3
1        18        1       4
2        23        1       3
3        24        1       4
4        25        1       5
5        21        1       4
6        27        1       5
7         7        1       5
8        19        1       5
9       155        1       5
10      161        1       5
11      611        1       4
12      330        1       5
13      510        1       5
14      528        1       4
15      722        1       5
16      949        1       5
17     1023        1       4
18     1119        1       4
19     1249        1       3
20     1362        1       3
21     2761        1       5
22       45        1       4
23     4321        1       5
24      439        1       4
26        8        3       5
27       48        3       5
28       63        3       4
29       10        3       5
30      498        3       5
31     2076        3       3
32       79        3       4
33      977        3       5

In [31]:
last_archived_user = archived_ratings.user_id.max()
ulist = user_ratings.site_id.unique().tolist()
user_archive_ids = {}
for i in range(len(ulist)):
    arcid = last_archived_user + i
    temp = {ulist[i]:arcid}
    user_archive_ids.update(temp)

In [32]:
user_archive_ids

{1: 53424, 3: 53425}

In [33]:
user_ratings["user_id"] = user_ratings.site_id.map(user_archive_ids)

In [34]:
combined = archived_ratings.append(user_ratings[['user_id', 'book_id', 'rating']])

In [35]:
combined.rename(columns={'user_id': 'uid', 'book_id': 'iid'}, inplace=True)

In [36]:
combined.uid = combined.uid - 1

In [38]:
combined.uid = combined.uid.astype(int)
combined.iid = combined.iid.astype(int)

In [39]:
numUsers = combined.uid.max() + 1
numBooks = combined.iid.max() + 1

ratSparse = cm((combined.rating, (combined.uid, combined.iid)),shape=(numUsers, numBooks))

In [40]:
model = lf.LightFM(loss='warp')
model.fit(ratSparse, epochs = 20)

In [41]:
userRecs = pd.DataFrame(columns = ['uid', 'iid', 'score'])
items = np.array(combined.iid.unique().tolist())
items.sort()
num_recs = 20
for site_uid, model_uid in user_archive_ids.items():
    previous_ratings = user_ratings[user_ratings['site_id']!=site_uid].book_id.tolist()
    previous_ratings_fixed = [x-1 for x in previous_ratings]
    user_items = [x for x in items if x not in previous_ratings_fixed]
    scores = model.predict(np.int(model_uid-1), user_items)
    ordered_scores = scores[np.argsort(-scores)]
    recIds = np.argsort(-scores)
    for i in range(num_recs):
        userRecs.loc[len(userRecs)] = [site_uid, recIds[i], ordered_scores[i]]

In [42]:
userRecs

    uid    iid     score
0   1.0   34.0  1.145921
1   1.0    1.0  0.704231
2   1.0   16.0  0.694065
3   1.0   49.0  0.637501
4   1.0  286.0  0.390235
5   1.0  111.0  0.366673
6   1.0   38.0  0.303757
7   1.0   55.0  0.229443
8   1.0    0.0  0.226713
9   1.0    3.0  0.180584
10  1.0  217.0  0.172699
11  1.0   33.0  0.072199
12  1.0   87.0  0.071515
13  1.0   65.0  0.059722
14  1.0  127.0  0.009938
15  1.0   26.0 -0.017770
16  1.0   11.0 -0.040764
17  1.0   72.0 -0.045245
18  1.0   25.0 -0.071455
19  1.0  110.0 -0.090867
20  3.0   19.0  4.040499
21  3.0  114.0  3.970945
22  3.0  235.0  3.779944
23  3.0   60.0  3.759371
24  3.0    3.0  3.749725
25  3.0   10.0  3.712326
26  3.0   11.0  3.703255
27  3.0    5.0  3.695978
28  3.0   18.0  3.691575
29  3.0   22.0  3.662835
30  3.0   47.0  3.617637
31  3.0  339.0  3.605869
32  3.0   84.0  3.604333
33  3.0   52.0  3.588679
34  3.0    2.0  3.574458
35  3.0  127.0  3.548478
36  3.0    7.0  3.539770
37  3.0   68.0  3.509857
38  3.0   33.0  3.483133
39  3.0   86.0  3.455345

In [11]:
userRecs.iid = userRecs.iid  + 1

In [12]:
userRecs['site_id'] = userRecs.uid.map({val:key for key, val in user_archive_ids.items()})

In [13]:
userRecs.drop('uid',  axis = 1, inplace=True)

In [14]:
userRecs = userRecs[['iid', 'site_id', 'score']].rename(columns = {'iid':'book_id'})

In [60]:
dbConnect.execute('DELETE FROM user_recs')
dbConnect.execute('ALTER SEQUENCE user_recs_id_seq RESTART')
for rec in userRecs.iterrows():
    iid = int(rec[1].book_id)
    sid = rec[1].site_id
    score = rec[1].score
    # just delete all the recommendations since we are making fresh ones now
    dbConnect.execute(f'INSERT INTO user_recs(book_id, site_id, score) VALUES ({iid}, {sid}, {score})')
    print('a')

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a

In [56]:
userRecs

    book_id  site_id     score
0       2.0        2  3.612852
1       1.0        2  3.409104
2       7.0        2  3.354856
3      21.0        2  3.270059
4      23.0        2  3.263534
5      18.0        2  3.251380
6      25.0        2  3.227434
7      24.0        2  3.215850
8      27.0        2  3.199617
9      19.0        2  3.185457
10     39.0        2  3.143708
11     70.0        2  3.080748
12     17.0        2  2.971933
13     37.0        2  2.960502
14      3.0        2  2.942746
15     20.0        2  2.927800
16     54.0        2  2.855833
17     53.0        2  2.836842
18     13.0        2  2.829964
19     62.0        2  2.808840
20      7.0        1  3.589742
21     19.0        1  3.550768
22      2.0        1  3.375418
23     39.0        1  3.138374
24      1.0        1  3.036589
25    330.0        1  3.027300
26     70.0        1  2.976938
27    510.0        1  2.975986
28    528.0        1  2.966072
29    161.0        1  2.934170
30     54.0        1  2.889256
31    155.0        1  2.881737
32     21.0        1  2.875756
33     18.0        1  2.873510
34     23.0        1  2.864967
35     25.0        1  2.861044
36     37.0        1  2.853701
37      9.0        1  2.849219
38     13.0        1  2.839572
39     27.0        1  2.830570

In [14]:
l1 = [1,2,3,4,5,6]
l1-1

TypeError: unsupported operand type(s) for -: 'list' and 'int'