In [37]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from scipy.sparse import coo_matrix as cm
import lightfm as lf
import numpy as np

In [51]:
dbString = 'postgresql://colin:1234@localhost/bookapp'
db = create_engine(dbString)

dbConnect = db.connect()

archived_ratings = pd.read_sql("select * from \"archive_rating\"", dbConnect)
user_ratings = pd.read_sql("select * from \"user_rating\"", dbConnect)

In [52]:
user_archive_ids = {idx:archived_ratings.user_id.max() + idx for idx in user_ratings.site_id.unique().tolist()}

In [53]:
user_ratings['user_id'] = user_ratings.site_id.map(user_archive_ids)

In [54]:
combined = archived_ratings.drop('id', axis = 1).append(user_ratings[['user_id', 'book_id', 'rating']])

In [55]:
combined.rename(columns={'user_id': 'uid', 'book_id': 'iid'}, inplace=True)

In [56]:
combined.uid = combined.uid - 1

In [57]:
numUsers = combined.uid.max() + 1
numBooks = combined.iid.max() + 1

ratSparse = cm((combined.rating, (combined.uid, combined.iid)),shape=(numUsers, numBooks))

In [58]:
model = lf.LightFM(loss='warp')
model.fit(ratSparse, epochs = 20)

In [80]:
userRecs = pd.DataFrame(columns = ['uid', 'iid', 'score'])
items = np.array(combined.iid.unique().tolist())
items.sort()
num_recs = 20
for uid in user_archive_ids.values():
    scores = model.predict(np.int(uid-1), items)
    ordered_scores = scores[np.argsort(-scores)]
    recIds = np.argsort(-scores)
    for i in range(num_recs):
        userRecs.loc[len(userRecs)] = [uid, recIds[i], ordered_scores[i]]

In [81]:
userRecs.iid = userRecs.iid  + 1

In [82]:
userRecs['site_id'] = userRecs.uid.map({val:key for key, val in user_archive_ids.items()})

In [86]:
userRecs.drop('uid',  axis = 1, inplace=True)

In [88]:
userRecs = userRecs[['iid', 'site_id', 'score']]
userRecs

      iid  site_id     score
0     1.0        2  3.622594
1    17.0        2  3.410606
2     2.0        2  3.358704
3    20.0        2  3.346205
4    25.0        2  3.173829
5    18.0        2  3.157686
6    23.0        2  3.146889
7    27.0        2  3.135338
8    21.0        2  3.127069
9    24.0        2  3.126162
10   12.0        2  3.089201
11   39.0        2  2.884460
12   36.0        2  2.854841
13   70.0        2  2.847036
14    7.0        2  2.841048
15    6.0        2  2.822195
16    3.0        2  2.805430
17   69.0        2  2.719719
18   37.0        2  2.714329
19    4.0        2  2.676489
20    7.0        1  3.430494
21   19.0        1  3.381801
22   70.0        1  3.340991
23  126.0        1  3.211234
24    2.0        1  3.199542
25  330.0        1  3.143589
26  510.0        1  3.128839
27   54.0        1  3.111029
28   39.0        1  3.102807
29  528.0        1  3.083312
30   13.0        1  3.005756
31    1.0        1  2.987733
32  722.0        1  2.971998
33  161.0        1  2.960361
34  155.0        1  2.919618
35   14.0        1  2.870245
36  949.0        1  2.863582
37  192.0        1  2.852625
38    9.0        1  2.821586
39   37.0        1  2.812317